@import url('./styles.css');
@import url('izitoast/dist/css/iziToast.min.css');

.feedback-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 296px;
}

.input-group {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 360px;
}

label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  resize: none;
  height: 80px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;

  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.button:hover {
  background-color: #0056b3;
}
